apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: onnx-model
  namespace: windguard
spec:
  predictor:
    containers:
      - name: kserve-container
        image: quay.io/luferrar/windguard:custom
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 1
            memory: 1Gi